{% extends 'assets/layout.html' %} 
{% block content %}
<h3 class="center-align red lighten-3">{{title}}</h3>

<table style="width:100%;">
    <tr>
        <th>No.</th>
        <th>Pegawai</th>
        <th>Departement</th>
        <th>Jumlah Bawahan</th>
    </tr>
    {% for item in users %}
    <tr>
        <td>{{forloop.counter}}</td>
        <td>{{item.username}}</td>
        <td>{{item.profile.department.department_name}}</td>
        <td>{{item.totalSubordinates}}</td>
    </tr>
    {% endfor %}
</table>

<a href="{% url 'index' %}" class="waves-effect waves-light btn"><i class="material-icons left">arrow_back</i>Back</a>

{% endblock %}