{% extends 'assets/layout.html' %} 
{% block content %}
<h3 class="center-align red lighten-3">{{title}}</h3>

<table style="width:100%;">
    <tr>
        <th>No.</th>
        <th>Departemen</th>
        <th>Jumlah Pegawai</th>
        <th>Jumlah Asset</th>
    </tr>
    {% for item in departments %}
    <tr>
        <td>{{forloop.counter}}</td>
        <td>{{item.department_name}}</td>
        <td>{{item.totalEmployee}}</td>
        <td>{{item.totalAsset}}</td>
    </tr>
    {% endfor %}
</table>

<a href="{% url 'index' %}" class="waves-effect waves-light btn"><i class="material-icons left">arrow_back</i>Back</a>

{% endblock %}